---
Language: Cpp
BasedOnStyle: Chromium

AccessModifierOffset: -4
IndentWidth: 4

IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<(bar|baz)\.'
    Priority: 2
  - Regex: '^<boost\/'
    Priority: 3
  - Regex: '.*'
    Priority: 4
...
